
.productimage {
  width: 350px;
  height: 350px;
  object-fit: contain;
  border-radius: 12px;
  background: #f9f9f9;
  padding: 20px;
}


.details h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
  color: #007bff;
  font-weight: bold;
  margin: 10px 0;
}

.details p {
  margin: 5px 0;
  color: #555;
}


.quantity {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.quantity button {
  padding: 8px 14px;
  font-size: 16px;
  border: none;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
}

.quantity span {
  font-size: 18px;
  font-weight: bold;
}


.btns {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;   
}


.addcart {
  background-color:#007bff!important;
  color: white !important;
  border: none !important;
  cursor: pointer !important;
  border-radius: 8px;
  width: 150px;
  height: 45px;
  font-size: 15px;
  transition: 0.3s;
}
.addcart:hover {
  background-color: #333;
}


.details {
  display: flex;
  flex-direction: column;   
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.buynow {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 150px;
  height: 45px;
  font-size: 15px;
  transition: 0.3s;
}

.buynow:hover {
  background-color: #0056b3;
}